::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



.clear {
    margin-top: 25px;
}

.username {
    font-weight: bold;
}

#chats {
    height: 400px;
    overflow-y: scroll;
    margin-top: 50px;
    border: 1px solid #eee;
    padding: 25px;
}

.chat {
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
}

.chat:nth-child(even) {
    background: #efefef;
}

.username {
    margin-right: 50px;
    color: #555;
}

.timeStamp {
    color: #ccc;
}

.msg {
    padding: 20px;
    font-size: 24px;
}

.chat-box {
    margin-top: 50px;
}

.chat-box input[type="text"] {
    width: 680px;
}